.videoFooter {
  position: relative;
  color: white;
  bottom: 180px;
  margin-left: 20px;
  display: flex;
}
.videoFooter__text {
  flex: 1;
}

.videoFooter__text > p {
  padding-bottom: 10px;
}

.videoFooter__text > h3 {
  padding-bottom: 10px;
}

.videoFooter__text > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}
.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker {
  padding-top: 26px;
  width: 70%;
}
.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: -15px;
  right: 10px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
